@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about Programacion IV<a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="parrafo1">Hola mundo</p>
    <p class="parrafo1" id="p1" style="color:blue;">Hola UDLA</p>
    <button type="button" class="btn btn-success">guardar</button>
    <button type="button" class="btn btn-danger">Danger</button>
<br></br>
<div class="form-group col-md-4">
    <label for="inputState">State</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
    </select>
</div>


</div>
