@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="form-group">
        <label for="exampleInputEmail1">Número 1</label>
        <input type="number" class="form-control" id="numero_1" aria-describedby="emailHelp" placeholder="Ingrese número 1">
        <
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Número 2</label>
        <input type="number" class="form-control" id="numero_2" aria-describedby="emailHelp" placeholder="Ingrese número 2">
        <
    </div>
    <button type="button" class="btn btn-success" id="resultado" >guardar</button>
    <button type="button" class="btn btn-danger">Danger</button>
<br></br>
<div class="form-group col-md-4">
    <label for="inputState">State</label>
    <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
    </select>
</div>

    <br></br>
    <input type ="number"id="resultado" disabled/> 
</div>
